<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>クイズ登録画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>クイズ登録画面</h1>
<!--<a th:href="@{/three-choice-quiz/register}" class="btn btn-info">クイズ登録画面</a>-->

<form method="post" action="/three-choice-quiz/register" th:action="@{/three-choice-quiz/register}" th:object="${threeChoiceQuestionRegistrationRequest}">
    <table class="table table-bordered">
        <tr>
            <td><label>問題文</label></td>
            <td>
                <input th:type="text" th:name="threeChoiceQuestion" th:required="required" />
            </td>
        </tr>
        <tr>
            <td><label>選択肢A</label></td>
            <td>
                <input th:type="text" th:name="threeChoiceSelectionItemA" th:required="required" />
            </td>
        </tr>
        <tr>
            <td><label>選択肢B</label></td>
            <td>
                <input th:type="text" th:name="threeChoiceSelectionItemB" th:required="required" />
            </td>
        </tr>
        <tr>
            <td><label>選択肢C</label></td>
            <td>
                <input th:type="text" th:name="threeChoiceSelectionItemC" th:required="required" />
            </td>
        </tr>
        <tr>
            <td><label>正解選択肢</label></td>
            <td>
                <input th:type="text" th:name="answerChoiceSelectionItem" th:required="required" />
            </td>
        </tr>
        <tr>
            <td><label>解説</label></td>
            <td>
                <input th:type="text" th:name="explanation" th:required="required" />
            </td>
        </tr>
    </table>

    <input type="submit" th:value="登録" class="btn btn-info"/>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>