<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>クイズ参照画面</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>クイズ参照画面</h1>
    参照結果<div th:text="${map['response']}"></div>
    <table class="table table-bordered">
        <tr>
            <td><label>クイズ番号</label></td>
            <th th:text="${map['quiz_number']}"></th>
        </tr>
        <tr>
            <td><label>問題文</label></td>
            <th th:text="${map['question']}"></th>
        </tr>
        <tr>
            <td><label>選択肢A</label></td>
            <th th:text="${map['three_choice_quiz_choice_a']}"></th>
        </tr>
        <tr>
            <td><label>選択肢B</label></td>
            <th th:text="${map['three_choice_quiz_choice_b']}"></th>
        </tr>
        <tr>
            <td><label>選択肢C</label></td>
            <th th:text="${map['three_choice_quiz_choice_c']}"></th>
        </tr>
    </table>
    <table class="table table-bordered">
        <input id="answer_view" type="button" th:value="答えを表示する" class="btn btn-info" onclick="view();"/>
        <input id="answer_hidden" type="button" th:value="答えを隠す" class="btn btn-info" style="display:none;" onclick="view_hidden();"/>
    </table>
    <table id="answer" class="table table-bordered" style="display:none;">
        <tr>
            <th th:text="${map['three_quiz_answer']}"></th>
        </tr>
    </table>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    function view() {
        document.getElementById('answer').style.display='block';
        document.getElementById('answer_view').style.display='none';
        document.getElementById('answer_hidden').style.display='block';
    }
    function view_hidden() {
        document.getElementById('answer').style.display='none';
        document.getElementById('answer_view').style.display='block';
        document.getElementById('answer_hidden').style.display='none';
    }
</script>
</body>
</html>